/* ==================== */
/* GLOBAL               */
/* ==================== */

/* -- main -- */

:root {
    --primary-color: #39c5bb;
    --secondary-color: rgba(255, 255, 255, 0.2);
    --text-color-dark: #ffffff;
    --bg-color-dark: rgb(31, 31, 31);
    --text-color-light: #1f1f1f;
    --bg-color-light: #c7fcff;
    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
    --font-size: 16px;

    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

/* -- classes -- */

.dark-theme {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
}

.light-theme {
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
}

/* ==================== */
/* ELEMENTS             */
/* ==================== */

/* -- main -- */

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    color: var(--primary-color);
    font-size: 60px;
}

h2 {
    color: var(--primary-color);
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size);
}

button.heading {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

li {
    padding: 1rem;
    margin-bottom: 1rem;
}

li.button {
    padding: 0;
    margin-bottom: 0;
}


li:last-child {
    margin-bottom: 0;
}

footer {
    color: var(--secondary-color);
    margin-top: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    text-align: center;
    padding: 1rem;
}

/* -- classes -- */

.container {
    justify-content: center;
    /* center horizontally */
    align-items: flex-start;
    /* align items to the top */
    display: flex;
    gap: 20px;
}

.heading {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.with-sticky-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.with-sticky-nav nav {
    position: absolute;
    right: 2rem;
}

.centered {
    text-align: center;
    justify-content: center;
}

.scattered {
    justify-content: space-between;
    width: 100%;
}

.horizontal {
    display: flex;
    gap: 20px;
}

.no-bullets {
    list-style: none;
}